{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="{% url 'home' %}" class="btn btn-outline-dark">&#x2190; Continue Shopping</a>
            <br>
            <br>

            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                    <th>
                        <a href="{% url 'checkout' %}" style="float: right; margin: 5px" class="btn btn-success">Checkout</a>


                    </th>

                </tr>

            </table>

        </div>
        <br>

        <div class="box-element">
            <div class="cart-row">
                <div class="cart-image">image</div>
                <div class="cart-row-items">
                    <div class="cartrow"> <strong>Item</strong></div>
                    <div class="cartrowprice"><strong>Price</strong></div>
                    <div class="quantity"><strong>Quantity</strong></div>
                    <div class="carttotal"><strong>Total</strong></div>
                </div>
            </div>
            
            {% for item in items %}
            <div class="cart-item-container">
                <img class="cartsimage" src="{{item.product.imageURL}}" alt="cart">
                <div class="cartcontainer">
                    <div class="itemname"> {{item.product.name}}</div>
                    <div class="price-container">
                        <div class="itemrowprice">${{item.product.price}}</div>
                    </div>
                    
                    <div class="cartsrow">{{item.quantity}}</div>
                    <img data-product ="{{item.product.id}}" data-action="add" class="arrow-imge update-cart" src="{% static 'images/arrow-top.jpeg' %}" alt="">
                    <img data-product ="{{item.product.id}}" data-action="remove" class="arrow-imge update-cart" src="{% static 'images/arrow-down.jpeg' %}" alt="">
                    <div class="itemtotal">${{item.get_total|floatformat:2}}</div>

                </div>

                
            </div>
            {% endfor %}


        </div>



    </div>


</div>


    

{% endblock content %}