{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{static 'css/main.css' %}">


<div id="form-wrapper">
    <form id="form" >
        {% csrf_token %}
        <div id="user-info">
            <input type="text" name="username" placeholder="name">
            <input class="input-form" name="email" type="text" placeholder="email">
        </div>
       
        <div class="ship-container" id="shipping-info">

            <div class="ship-info">Shipping Information</div>
    
            <input type="text" name="address" placeholder="Address">
            <input class="input-form" name="country" type="text" placeholder="Country">
    
            <input type="text" name="state" placeholder="State">
            <input class="input-form" name="city" type="text" placeholder="City">
            <input type="text" name="zipcode" placeholder="Zip code">
        </div>

        
        <button id="form-button" class="continue">Continue</button>
    
    </form>

</div>
<br><br>




<div class="col-lg-12" style="display: inline-block;">
    <div class="box-element">
        <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
        <br>
        <br>

    
    <div style="margin: 15px;">Order Summary </div> 
    {% for item in items %}
    <div class="cart-row">
        <img style="width: 6%; display: inline-block;" src="{{item.product.imageURL}}" alt="">
        <h5 style="display: inline-block; margin-left: 25px;">{{item.product.name}}</h5>
        <h5 style="display: inline-block; margin-left: 15px;">${{item.product.price}}</h5>
        <h5 style="display: inline-block; margin-left: 15px;">x{{item.quantity}}</h5>
        <h5 style="display: block;">item:{{order.get_cart_items}}</h5>
        <h5 name="total" style="display: block;">Total:${{order.get_cart_tatal|floatformat:2}}</h5>    
    </div>       
    {% endfor %}
   
</div>
<br><br>
<div class="box-element hidden" id="payment-info">
    <small>Paypal Options</small>

    <button id="make-payment">make payment</button>
</div>

<br><br>



<script>
    let shipping = "{{order.shipping}}"

    let total    = '{{order.get_cart_total}}'

    // if (shipping == 'False'){
        // document.getElementById('shipping-info').innerHTML = ''
    // }

    if (user != 'AnonymousUser'){  document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'True' && user != 'AnonymousUser'){
        // Hide entire form if user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add('hidden');
        // show payment if logged in user wants to buy an item that does not required shipping 
        document.getElementsById('payment-info').classList.remove('hidden')
    }



    let form = document.getElementById('form')

    // csrftoken = form.getElementsByTagName('input')[0].value 

    // console.log('Newtoken: ', form.getElementsByTagName('input')[0].value)

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })


    function submitFormData(){
        console.log('Payment button clicked')

        let userFormData = {
            'name' : null, 
            'email' : null, 
            'total' : total, 
        }

        let shippingInfo = {
            'address' : null, 
            'country' : null,
            'city'    : null, 
            'state'   : null, 
            'zipcode' : null, 
        }

        if(shipping == 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.country = form.country.value
            shippingInfo.city    = form.city.value
            shippingInfo.state   = form.state.value
            shippingInfo.zipcode = form.zipcode.value   
            console.log(shippingInfo.country) 
            
        }
            

        if(user == 'AnonymousUser'){
            userFormData.name = form.username.value
            userFormData.email = form.email.value
        }

        let url = '/process-order/'

        fetch(url, {
            method : 'POST',
            headers:{
                'Content-Type' : 'application/json',
                'X-CSRFToken'  : csrftoken,
            },

            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}
            )

        })

        .then((reponse) => reponse.json())

        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');

            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
            window.location.href= "{% url 'home' %}"
        })



    }



</script>

{% endblock content %}



    

