{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    {% for product in products %}
    <div class="pro-container">
        <img class="image" src="{{product.imageURL}}" alt="product-image">

        <h6 class="pro-name" >{{product.name}}</h6>
        <hr>

        <div class="pro-element-container">
            <button data-product="{{product.id}}" data-action="add"  class="btn btn-outline-secondary pro-element update-cart">Add to Cart</button>
            <a class="btn btn-outline-success View" href="">View</a>
            <h4 class="pro-price">${{product.price}}</h4>
        </div>

    </div>
    {% endfor %}

{% endblock content %}




